.footer {
    @include padding-section();
    @include flex-center(row, space-between);
    font-family: 'Montserrat', sans-serif;

    @include respond(tab-land) {
        justify-content: flex-start;

    }

    @include respond(desktop) {
        margin-left: 10rem;
    }

    &__box-icon {
        @include flex-center(row, flex-start);
    }

    &__icon {
        display: inline-block;
        height: 2rem;
        width: 2rem;
        margin-left: 1rem;
    }

    &__text {
        color: var(--color-grey-dark-1);
        font-size: 1.1rem;
        font-weight: 700;

        @include respond(tab-land) {
            margin-right: 4rem;
            font-size: 1.3rem;
        }

    }
}