.header {
    position: relative;
    top: 0;
    left: 0;
    height: 50rem;
    display: flex;
    margin-top: 8rem;
    background-image: url("img/bg.jpeg");
    background-size: cover;
    background-position: top;



    @include respond(big-desktop) {
        height: 75vh;
    }

    &::after {
        @include bg-opacity(var(--color-black), 0.65);
        z-index: 10;
    }

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 100;
    }

}