:root {
    --color-grey-light-1: #e9e9e9;
    --color-grey-light-2: #cccccc;
    --color-grey-light-3: #f9f9f9;


    --color-grey-dark-1: #555555;
    --color-grey-dark-2: #777777;

    --color-white: #fff;
    --color-black: #000;
    --color-black-light-1: #222222;

    --color-green: #7cc576;

}