.btn {

    &,
    &:link,
    &:visited {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1.3rem;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 25px;
        padding: 1.5rem 2rem;
        color: var(--color-white);
        z-index: 100;
        align-self: flex-start;
        text-shadow: 0 1px 0 var(--color-black);
        transition: opacity .2s;

        @include respond(desktop) {
            padding: 2rem 2.5rem;
        }
    }

    &--green {
        background-color: var(--color-green);
    }

    &:hover {
        opacity: .8;
    }

}

.btn-text {

    &,
    &:link,
    &:visited {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
        color: var(--color-green);
        text-decoration: none;
        text-transform: uppercase;
    }

    &:hover {
        text-shadow: 0 0 .1rem var(--text-color-grey);
        opacity: .8;
    }
}

.btn-secondary {

    &,
    &:link,
    &:visited {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;
        color: var(--color-white);
        border: 2px solid var(--color-white);
        border-radius: 7px;
        font-weight: 700;
        font-size: 1.3rem;

    }

    &:hover {
        opacity: .8;
    }
}