.menu-burger {

    @include respond(tab-port) {
        display: none;
    }

    position: relative;
    top: .2rem;
    right: 0;



    &__checkbox {
        display: none;
    }

    &__button {
        position: absolute;
        width: 3rem;
        height: 3rem;

    }

    &__span {
        display: block;
        top: 0;
        right: 0;
        height: 4px;
        width: 3rem;
        background-color: var(--color-grey-dark-1);
        border-radius: 3px;
        margin-bottom: 0.6rem;



    }

    //FUNCTIONALITY

    &__checkbox:checked~&__span:nth-of-type(2) {
        transform: translateY(-1rem);
    }
}